eula.txt filter=lfs diff=lfs merge=lfs -text
spigot.yml filter=lfs diff=lfs merge=lfs -text
pvp filter=lfs diff=lfs merge=lfs -text
usercache.json filter=lfs diff=lfs merge=lfs -text
world_the_end filter=lfs diff=lfs merge=lfs -text
banned-ips.json filter=lfs diff=lfs merge=lfs -text
commands.yml filter=lfs diff=lfs merge=lfs -text
paper.yml filter=lfs diff=lfs merge=lfs -text
permissions.yml filter=lfs diff=lfs merge=lfs -text
ASkyBlock_nether filter=lfs diff=lfs merge=lfs -text
bukkit.yml filter=lfs diff=lfs merge=lfs -text
cache filter=lfs diff=lfs merge=lfs -text
help.yml filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
ops.json filter=lfs diff=lfs merge=lfs -text
readme.yml filter=lfs diff=lfs merge=lfs -text
ASkyBlock filter=lfs diff=lfs merge=lfs -text
messages.properties filter=lfs diff=lfs merge=lfs -text
plugins filter=lfs diff=lfs merge=lfs -text
run.bat filter=lfs diff=lfs merge=lfs -text
whitelist.json filter=lfs diff=lfs merge=lfs -text
banned-players.json filter=lfs diff=lfs merge=lfs -text
paperclip.jar filter=lfs diff=lfs merge=lfs -text
server.properties filter=lfs diff=lfs merge=lfs -text
wepif.yml filter=lfs diff=lfs merge=lfs -text
world_nether filter=lfs diff=lfs merge=lfs -text
version_history.json filter=lfs diff=lfs merge=lfs -text
world filter=lfs diff=lfs merge=lfs -text
